# Compiled source #
###################
*.com
*.class
*.o
*.spec
*.so
*.zip
*.rar
*.yml
.env
__pycache__
# Application #
######################
*.xlsx
.vscode
Dockerfile

# Extension files #
###################
settings.json
test.py
WordToExcel.spec
# Folder #
###################
Output