# Compiled source #
###################
*.com
*.class
*.o
*.spec
*.so
*.zip
*.rar
__pycache__
# Application #
######################
*.xlsx
*.docx
.vscode
# Extension files #
###################
settings.json
test.py
WordToExcel.spec
.gitignore
# Folder #
###################
Output
Docx